body {
    background-color: #94A1B2;
   
   margin: 0;
   text-align: center;
   color: #FFFFFE;
   font-family: 'Courier New';
    
    }

.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
 

}
 .items {
    height: auto;
    background-color:#7F5AF0;
    padding: 2%;
    border-radius: 2%;
    margin: 2%;
    text-align: center;
    width: 500px;

     display: flex;
    justify-content: center;
    box-shadow: 0 9px #999;
    
} 
/* .header
{
  
    height: 350px !important;
    text-align: center;
    margin-top: 150px;


} */
.btn

{
    background-color: #2CB67D;
    border-radius:7px ;
    padding: 3px;
    margin-left:  8px;
    margin-right: 8px;
    color: white;
      font-size : 14px;
    cursor: pointer;
    

}

.btn:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }
  .btn:hover
  {
    background-color: #3e8e41;
    color: #16161A;
 
  }

.head
{
    
    margin-bottom: 30px;
   padding-bottom: 10px;
}
.subhead
{
    margin-bottom: 15px ;
    padding-bottom: 10px;
}