body
{
font-family: 'Courier New';
background-color: #EFF0F3;
}

.bank-balance-display 
{
 position: absolute;
 top: 50%;
 left: 50%;
 max-width: 100%;
 transform: translate(-50%,-50%);
 text-align: center;
 overflow: auto;
 
}

.bank-balance-display table
{
  border: 2px solid black;
}

table ,tr,th,td
{
 border: 2px solid black;
 border-collapse: collapse;

}

 td, th
{
  padding: 10px;
}

th
{
  background-color: #D9376E;
  color: #FFFFFE;
}

td input
{
   border: 1px solid #D9376E;
   border-radius: 20px;
   width: 60% ;
   padding: 10px 20px;
}

.display-updated-balance
{
   border: none;
}

.bank-balance-display button
{
    background-color:#AE275F;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: #FFFFFE;
    cursor: pointer;
    width: 97%;
    font-size: medium;
    margin-top: 8px;

}

button:active {
    background-color: #D9376E;
    transform: translateY(4px);
  }

  .brand
  {
background-color: #D9376E;
color: #FFFFFE;
height: 7vh;
width: 100%;
}

h1
{
padding-top: 13.5px;
padding-left: 8px;
padding-right: 8px;

}

  #top
  {
     position:absolute;
     width: 100%;
  }

  *{margin: 0;
padding: 0;}

  #bottom
   {
      position: absolute;
      top:93%;
      text-align: right;

}

 #rule
{
    
    height: 100%;
    
    width: 725px;
    max-width: 97%;
    text-align: center;
    border-radius: 10px;
    background-color:#FFFFFE;
    padding: 5px;
    margin-top: 30px;
    border: 2px solid #D9376E;

}

h3
{
    
}