body{
    color: #009579;
    font-family: 'Courier New' !important;
    background-color: #94A1B2 !important;
}

h1{
    color: #009579 !important;
}

.btn{
    background-color: #009579;
    color: white;
}
.h3Heading{
    color: white;
}

.tab-link{
    border: none;
    padding: 10px;
    font-size: large;
    margin: 10px 0px 10px 0px;
}

.submit{
    display: flex;
    justify-content: center;
}

.toppings, .submit-choices, .size{
    font-size: large;
    margin: 10px;
    background-color: #009579;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    border: none;
}


.pizza-toppings{
    margin-bottom: 35px;;
}
label{
    margin-bottom: 0 !important;
}

.fetch-btn, .cancel-btn, .navbar-custom{
        background-color: #009579 !important;
        border: white !important;
}

.tab-content{
    display:none
}

.registration-link{
        color: white;
}

.main-heading{
    text-align: center;
}

img{
    width: 400px;
    height: 400px;
}

.empty-img{
    text-align: center;
}

.order-ID{
    width: 500px !important;
    margin: auto !important;
    text-align: center;
}

.btn-outer{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.order-block{
    display: none;
    margin: 10px auto;
}

.cancel-btn{
    width: 100%;
    background-color: grey;
}

.card-footer{
    padding: 0 !important;
}

button:hover{
    cursor: pointer;
    
}

.order-status{
    background-color:#e2a491e5;
    border-radius: 20px;
    padding: 2%;

}



